@font-face {
  font-family: socialico;
  src: url("../fonts/Socialico.otf") format("opentype");
}
.socialico {
  font-family: socialico;
}
body {
  margin: 0 0 0 0;
  text-rendering: optimizelegibility;
  font-family: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
header {
  font-family: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  width: 100%;
  z-index: 99999;
  margin-top: 10px;
  border-bottom: 1px solid #cccccc;
}
header #header-nav,
header #header-logo {
  display: inline-block;
}
header #header-nav {
  text-align: right;
}
header #header-menu {
  padding-top: 8px;
  padding-bottom: 15px;
  position: relative;
}
header #header-menu #header-search,
header #header-menu #header-pull {
  float: right;
}
header #header-menu #header-logo {
  display: inline-block;
  vertical-align: top;
}
header #header-menu #header-logo img {
  width: 200px;
  margin-left: 65px;
  margin-top: 15px;
}
header #header-menu #header-pull {
  margin-right: 10px;
}
header #header-menu #header-pull img {
  opacity: 0.8;
  width: 30px;
}
header #header-menu #search-anchor {
  position: relative;
}
header #header-menu #icon-search {
  cursor: pointer;
}
header #header-menu #header-search {
  display: none;
  position: absolute;
  top: 0px;
  left: -220px;
}
header #header-menu #header-search form {
  margin-bottom: 0px;
}
header #header-menu #header-search input {
  width: 245px;
  height: 26px;
  padding: 5px 5px 5px 5px;
  font-size: 1.2em;
  border: none;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  margin-top: 0px;
  font-family: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
header #header-menu #menu-threads {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: right;
  padding-left: 0px;
}
header #header-menu #menu-threads li {
  display: inline-block;
  font-size: 0.96em;
  margin-left: 32px;
}
header #header-menu #menu-threads li a {
  color: #6e6e6e;
  text-decoration: none;
}
header #header-menu #menu-threads li a:hover {
  text-decoration: underline;
}
header #header-menu #menu-threads li i {
  color: #6e6e6e;
  font-size: 1.1em;
  margin-left: 15px;
}
header #header-menu #menu-threads .header-menu-submenu {
  position: absolute;
  width: 100%;
  z-index: 999;
  display: none;
  top: 50px;
  left: 0;
  height: 215px;
  background-color: #F8F8F8;
  text-align: center;
}
header #header-menu #menu-threads .header-menu-submenu .header-menu-submenu-nav p {
  font-size: 1.1em;
  margin-left: 25px;
  color: #6e6e6e;
}
header #header-menu #menu-threads .header-menu-submenu .header-menu-submenu-icons {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 23%;
  height: 150px;
  margin-left: 6px;
  margin-right: 6px;
  background-size: cover;
}
header #header-menu #menu-threads .header-menu-submenu .header-menu-submenu-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: black;
  opacity: 0.3;
}
header #header-menu #menu-social {
  margin-top: -10px;
  margin-bottom: 7px;
  font-family: "socialico";
}
header #header-menu #menu-social li {
  display: inline-block;
  list-style-type: none;
  font-size: 1.7em;
}
header #header-menu #menu-social li a {
  text-decoration: none;
  color: #3c3c3c;
}
header #header-menu #menu-social li .share-twitter:hover {
  color: #36abe0;
}
header #header-menu #menu-social li .share-facebook:hover {
  color: #3b5998;
}
.grayscale {
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
#container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}
#threads2 {
  width: 100%;
  margin-top: 30px;
}
#threads2 li {
  list-style-type: none;
}
#threads2 ul {
  padding-left: 0px;
}
#threads2 #hot-threads,
#threads2 #new-threads {
  display: inline-block;
  vertical-align: top;
}
#threads2 #new-threads {
  width: 36%;
}
#threads2 #new-threads .new-threads-li {
  padding-top: 2px;
  padding-bottom: 2px;
}
#threads2 #new-threads .new-threads-li .new-threads-div {
  min-height: 125px;
}
#threads2 #new-threads .new-threads-li .new-threads-div:hover {
  background-color: #F8F8F8;
}
#threads2 #new-threads .new-threads-li .new-threads-div .new-threads-image {
  display: inline-block;
  width: 35%;
  background: no-repeat;
  background-size: cover;
  min-height: 125px;
  position: relative;
}
#threads2 #new-threads .new-threads-li .new-threads-div .new-threads-image a {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#threads2 #new-threads .new-threads-li .new-threads-div .new-threads-info {
  display: inline-block;
  vertical-align: top;
  width: 64%;
}
#threads2 #new-threads .new-threads-li .new-threads-div .new-threads-info a {
  text-decoration: none;
}
#threads2 #new-threads .new-threads-li .new-threads-div .new-threads-info a:hover {
  text-decoration: underline;
}
#threads2 #new-threads .new-threads-li .new-threads-div .new-threads-info .new-threads-title,
#threads2 #new-threads .new-threads-li .new-threads-div .new-threads-info .new-threads-subtitle {
  padding-left: 10px;
  padding-right: 15px;
}
#threads2 #new-threads .new-threads-li .new-threads-div .new-threads-info .new-threads-title {
  margin-top: 0px;
  margin-bottom: 5px;
  padding-top: 10px;
  font-size: 1.1em;
  line-height: 20px;
}
#threads2 #new-threads .new-threads-li .new-threads-div .new-threads-info .new-threads-title a {
  color: #3c3c3c;
}
#threads2 #new-threads .new-threads-li .new-threads-div .new-threads-info .new-threads-subtitle {
  margin-top: 0px;
  font-size: 0.9em;
  font-weight: 300;
  line-height: 15px;
}
#threads2 #new-threads .new-threads-li .new-threads-div .new-threads-info .new-threads-subtitle a {
  color: #6e6e6e;
}
#threads2 #hot-threads {
  width: 63%;
  text-align: center;
}
#threads2 #hot-threads .hot-threads-ul {
  text-align: left;
  display: inline-block;
  margin-bottom: 40px;
  border-bottom: 1px solid #eeeeee;
  width: 90%;
  margin-right: 0px;
  margin-left: 20px;
}
#threads2 #hot-threads .hot-threads-image {
  text-align: center;
}
#threads2 #hot-threads .hot-threads-image img {
  width: 100%;
}
#threads2 #hot-threads .hot-threads-type {
  margin-top: 20px;
  font-size: 0.85em;
}
#threads2 #hot-threads .hot-threads-type a {
  color: #6e6e6e;
  text-decoration: none;
}
#threads2 #hot-threads .hot-threads-type a:hover {
  text-decoration: underline;
}
#threads2 #hot-threads .hot-threads-title {
  font-family: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
#threads2 #hot-threads .hot-threads-title h2 {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 1.9em;
  line-height: 30px;
}
#threads2 #hot-threads .hot-threads-title h2 a {
  color: #3c3c3c;
  text-decoration: none;
}
#threads2 #hot-threads .hot-threads-title h2 a:hover {
  text-decoration: underline;
}
#threads2 #hot-threads .hot-threads-subtitle h3 {
  margin-top: 10px;
  font-size: 1.4em;
  font-family: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
#threads2 #hot-threads .hot-threads-subtitle h3 a {
  color: #6e6e6e;
  text-decoration: none;
}
#threads2 #hot-threads .hot-threads-subtitle h3 a:hover {
  text-decoration: underline;
}
#threads2 #hot-threads .hot-threads-snippet {
  font-family: "ff-tisa-web-pro", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  margin-top: 15px;
}
#threads2 #hot-threads .hot-threads-snippet iframe {
  margin-top: 15px;
}
#threads2 #hot-threads .hot-threads-snippet a {
  color: #3c3c3c;
  text-decoration: none;
}
#threads2 #hot-threads .hot-threads-snippet a:hover {
  text-decoration: underline;
}
#threads .thread-square {
  position: relative;
  float: left;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: center;
  cursor: pointer;
}
#threads .thread-square a {
  color: white;
  text-decoration: none;
}
#threads .thread-square a:hover {
  color: white;
}
#threads .thread-square .thread-img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
#threads .thread-square .thread-square-overlay {
  width: 100%;
  background-color: black;
  opacity: 0.4;
  position: absolute;
  bottom: 0;
}
#threads .thread-square .thread-text {
  width: 100%;
  position: absolute;
  bottom: 0;
}
#threads .thread-square .thread-text table {
  margin: 0 0 0 0;
  width: 100%;
  text-align: center;
  height: 100%;
  border-collapse: collapse;
}
#threads .thread-square .thread-text table tr {
  width: 100%;
}
#threads .thread-square .thread-text table tr td {
  width: 100%;
}
#threads .thread-square .thread-title,
#threads .thread-square .thread-type {
  z-index: 9990;
  color: #dddddd;
  text-transform: uppercase;
}
#threads .thread-square .thread-title {
  font-weight: 500;
  font-size: 1.45em;
  margin-top: 7px;
  margin-bottom: 5px;
  font-size: 1em;
}
#threads .thread-square .thread-type {
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 0.8em;
}
#category-list h1 {
  font-family: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 3em;
  line-height: 0.85em;
  margin-top: 40px;
  color: #3c3c3c;
  margin-left: 66px;
}
#category-list ul {
  padding-left: 66px;
  padding-right: 66px;
}
#category-list li {
  list-style-type: none;
}
#category-list .category-item {
  border-bottom: 1px solid #dddddd;
  padding-top: 30px;
  padding-bottom: 30px;
}
#category-list .category-item .category-item-image,
#category-list .category-item .category-item-info {
  display: inline-block;
  vertical-align: top;
}
#category-list .category-item .category-item-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  border: 1px solid #dddddd;
  width: 20%;
  max-width: 175px;
  margin-left: 20px;
}
#category-list .category-item .category-item-image a {
  width: 100%;
  height: 100%;
  display: block;
}
#category-list .category-item .category-item-info {
  margin-left: 50px;
}
#category-list .category-item .category-item-info h2,
#category-list .category-item .category-item-info h3 {
  font-family: "museo-slab", "ff-tisa-web-pro", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
#category-list .category-item .category-item-info h2 {
  margin-top: 10px;
  margin-bottom: 0px;
  color: #3c3c3c;
  font-weight: 500;
}
#category-list .category-item .category-item-info h3 {
  font-weight: 300;
  color: #6e6e6e;
  margin-top: 0px;
  font-size: 1em;
}
#category-list .category-item .category-item-info p {
  font-family: "ff-tisa-web-pro", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  line-height: 25px;
}
#category-list #category-item-last {
  border-bottom: none;
}
.splash-container {
  border-bottom: 1px solid #cccccc;
}
.splash-container .splash-subheading {
  font-family: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 0 auto;
  margin-top: -19px;
  font-size: 1.5em;
  display: table;
  padding: 0 45px 0 45px;
  background-color: white;
  color: #4b4c4e;
}
#splash-recent {
  margin-top: 20px;
}
#splash-recent ul {
  padding-left: 0;
  text-align: center;
}
#splash-recent ul li {
  display: inline-block;
  list-style-type: none;
  vertical-align: top;
  width: 20.1%;
  margin: 1%;
  min-width: 150px;
  border: 1px solid #cccccc;
}
#splash-recent ul li .splash-recent-list-type {
  display: table;
  margin: 0 auto;
  margin-bottom: -13px;
  padding: 6px 35px 6px 35px;
  font-size: 0.85em;
  font-family: "museo-slab", "ff-tisa-web-pro", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  background-color: black;
  opacity: 0.8;
  color: white;
  font-weight: 300;
}
#splash-recent ul li .splash-recent-list-type a {
  color: white;
  text-decoration: none;
}
#splash-recent ul li .splash-recent-list-title {
  text-align: left;
  font-family: "museo-slab", "ff-tisa-web-pro", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 1.05em;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 7px;
}
#splash-recent ul li .splash-recent-list-title a {
  color: #3c3c3c;
  text-decoration: none;
}
#splash-recent ul li .splash-recent-list-title a:hover {
  text-decoration: underline;
}
#splash-recent ul .splash-recent-list {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#splash-recent ul .splash-recent-list a {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
}
#splash-interviews {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 35px;
}
#splash-interviews #splash-interviews-1,
#splash-interviews #splash-interviews-2,
#splash-interviews #splash-interviews-3 {
  position: relative;
}
#splash-interviews #splash-interviews-1 h3,
#splash-interviews #splash-interviews-2 h3,
#splash-interviews #splash-interviews-3 h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 300;
  padding: 10px 10px 10px 10px;
  background-color: black;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0.8;
  font-family: "museo-slab", "ff-tisa-web-pro", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
#splash-interviews #splash-interviews-1 h3 a,
#splash-interviews #splash-interviews-2 h3 a,
#splash-interviews #splash-interviews-3 h3 a {
  color: white;
  text-decoration: none;
}
#splash-interviews #splash-interviews-1 h3 a:hover,
#splash-interviews #splash-interviews-2 h3 a:hover,
#splash-interviews #splash-interviews-3 h3 a:hover {
  text-decoration: underline;
}
#splash-interviews #splash-interviews-1,
#splash-interviews #splash-interviews-2-container {
  display: inline-block;
  vertical-align: top;
  margin: 1%;
  width: 41.8%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#splash-interviews #splash-interviews-2-container {
  overflow: hidden;
}
#splash-interviews #splash-interviews-2,
#splash-interviews #splash-interviews-3 {
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#splash-interviews #splash-interviews-2 {
  margin-bottom: 5.85%;
}
#splash-interviews #splash-interviews-3 {
  margin-top: 5.85%;
}
#splash-footer {
  color: #6e6e6e;
  font-family: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
}
#splash-footer li {
  list-style-type: none;
}
#slides {
  position: relative;
  margin: 0 auto;
  width: 86%;
  margin-top: 25px;
  margin-bottom: 45px;
}
#slides img {
  width: 100%;
}
#slides .slidesjs-pagination {
  display: none;
}
#slides .slidesjs-next,
#slides .slidesjs-previous {
  top: 50%;
  margin-top: -100px;
  position: absolute;
  z-index: 9998;
}
#slides .slidesjs-previous {
  left: 20px;
  background: url('../img/arrows-left.png') no-repeat;
  height: 200px;
  width: 60px;
  text-indent: -9999px;
}
#slides .slidesjs-previous:hover {
  width: 60px;
  background: url('../img/arrow-left-hover.png') no-repeat;
}
#slides .slidesjs-next {
  background: url('../img/arrows-right.png') no-repeat;
  right: 20px;
  background-size: 60px 200px;
  height: 200px;
  width: 60px;
  text-indent: -9999px;
}
#slides .slidesjs-next:hover {
  background-size: 60px 200px;
  background: url('../img/arrows-right.png') no-repeat;
}
#thread-menu {
  position: fixed;
  background-color: white;
  opacity: 1;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 10px;
  height: 30px;
  text-align: center;
}
#thread-menu:hover {
  opacity: 1;
}
#thread-menu #thread-header {
  display: inline-block;
  width: 100%;
  max-width: 640px;
}
#thread-menu #thread-logo {
  float: left;
  height: 25px;
}
#thread-menu #thread-close-button {
  float: right;
  height: 25px;
  opacity: 0.4;
}
#thread-menu #thread-close-button:hover {
  opacity: 1.0;
}
.thread-details {
  max-width: 640px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 100px;
  border-bottom: 1px solid #eeeeee;
}
.thread-details img {
  width: 100%;
}
.thread-details iframe {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}
.thread-details .thread-info h1 {
  font-size: 3.85em;
  line-height: 0.85em;
  margin-top: 30px;
  color: #3c3c3c;
  margin-bottom: 10px;
}
.thread-details .thread-info h1 a {
  text-decoration: none;
  color: #3c3c3c;
}
.thread-details .thread-info h1 a:hover {
  text-decoration: underline;
}
.thread-details .thread-info h3 {
  color: #6e6e6e;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 1.45em;
}
.thread-details .thread-info p {
  color: #6e6e6e;
  margin-top: 1px;
  font-family: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.thread-details .thread-info p a {
  color: #6e6e6e;
  text-decoration: none;
}
.thread-details .thread-info p a:hover {
  text-decoration: underline;
}
.thread-details .thread-interview-info {
  margin-top: 30px;
  margin-bottom: -10px;
}
.thread-details .thread-interview-info p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 40px;
  padding-right: 40px;
}
.thread-details .thread-content {
  margin-top: 42px;
  font-family: "ff-tisa-web-pro", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  color: #3c3c3c;
  font-size: 1.1em;
  position: relative;
}
.thread-details .thread-content img {
  margin-top: 30px;
  margin-bottom: 30px;
}
.thread-details .thread-content blockquote {
  font-family: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.4em;
  line-height: 1.15em;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 65px;
  margin-right: 65px;
}
.thread-details .thread-content b {
  font-weight: 700;
}
.thread-details .thread-tags {
  margin-top: 35px;
}
.thread-details .thread-tags a {
  color: #6e6e6e;
  font-size: 0.85em;
  margin-right: 3px;
}
.thread-details .thread-social {
  text-align: center;
  margin-top: 75px;
}
.thread-details .thread-social a {
  text-decoration: none;
  color: #3c3c3c;
  font-size: 55px;
  margin-left: 2px;
  margin-right: 2px;
}
.thread-details .thread-social .thread-like-button {
  cursor: pointer;
}
.thread-details .thread-social .thread-like-button:hover {
  color: #a00000;
}
.thread-details .thread-social .share-twitter:hover {
  color: #36abe0;
}
.thread-details .thread-social .share-facebook:hover {
  color: #3b5998;
}
.thread-subscribe {
  max-width: 640px;
  margin: 0 auto;
  border-bottom: 1px solid #eeeeee;
  font-family: "museo-slab", "ff-tisa-web-pro", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  padding: 20px 0 20px 0;
}
.thread-subscribe p,
.thread-subscribe h3 {
  padding-left: 35px;
}
.thread-subscribe input {
  margin-left: 35px;
}
.thread-subscribe h3 {
  color: #3c3c3c;
  font-size: 1.3em;
  font-weight: 500;
}
.thread-subscribe .subscribe-error {
  color: #8f0000;
  display: none;
}
.thread-subscribe .subscribe-success {
  display: none;
  color: #6e6e6e;
}
.thread-subscribe input[type="email"] {
  font-family: "museo-slab", "ff-tisa-web-pro", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 17px;
  height: 30px;
  width: 250px;
  border: none;
  border-bottom: 1px solid #ddd;
}
.thread-subscribe input[type="submit"] {
  font-size: 0.9em;
  border: none;
  height: 32px;
  border-radius: 50%;
  color: white;
  background-color: #3c3c3c;
  margin-left: 15px;
  cursor: pointer;
}
.thread-subscribe input[type="submit"]:hover {
  background-color: white;
  border: solid 1px #3c3c3c;
  color: #3c3c3c;
}
@media only screen and (min-width: 541px) and (max-width: 680px) {
  .thread-subscribe p,
  .thread-subscribe h3 {
    padding-left: 35px;
    padding-right: 35px;
  }
  .thread-subscribe input {
    margin-left: 35px;
    margin-right: 35px;
  }
  .thread-details {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .thread-details h1,
  .thread-details h3,
  .thread-details p {
    padding-left: 15px;
    padding-right: 15px;
  }
  .thread-details .thread-info h1 {
    font-size: 3.0em;
  }
  .thread-details .thread-info h3 {
    font-size: 1.3em;
    line-height: 1.13em;
  }
  .thread-details .thread-content {
    margin-top: 25px;
  }
  .thread-details .thread-content iframe {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  .thread-details .thread-content img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .thread-details .thread-content p {
    font-size: 1em;
  }
  .thread-details .thread-content blockquote {
    margin: 35px 0 35px 0;
    padding: 0px 50px 0px 50px;
    font-size: 1.35em;
    line-height: 1.2em;
  }
  .thread-details .thread-tags {
    margin-left: 15px;
    margin-right: 15px;
  }
  .thread-details .thread-social {
    margin-top: 30px;
  }
  .thread-details .thread-social a {
    font-size: 50px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 540px) {
  .thread-subscribe h3 {
    font-size: 1.2em;
  }
  .thread-subscribe p,
  .thread-subscribe h3 {
    padding-left: 25px;
    padding-right: 25px;
  }
  .thread-subscribe input[type="email"] {
    margin-left: 25px;
    margin-right: 15px;
  }
  .thread-details {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .thread-details h1,
  .thread-details h3,
  .thread-details p {
    padding-left: 20px;
    padding-right: 20px;
  }
  .thread-details .thread-info h1 {
    font-size: 2.7em;
  }
  .thread-details .thread-info h3 {
    font-size: 1.3em;
    line-height: 1em;
  }
  .thread-details .thread-content {
    margin-top: 25px;
  }
  .thread-details .thread-content iframe {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  .thread-details .thread-content img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .thread-details .thread-content p {
    font-size: 0.98em;
    line-height: 1.4em;
  }
  .thread-details .thread-content blockquote {
    margin: 25px 0 25px 0;
    padding: 0px 35px 0px 35px;
    font-size: 1.3em;
    line-height: 1.2em;
  }
  .thread-details .thread-tags {
    margin-left: 20px;
    margin-right: 20px;
  }
  .thread-details .thread-social {
    margin-top: 30px;
  }
  .thread-details .thread-social a {
    font-size: 45px;
  }
}
@media only screen and (max-width: 320px) {
  .thread-subscribe h3 {
    font-size: 1.2em;
  }
  .thread-subscribe p,
  .thread-subscribe h3 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .thread-subscribe input[type="email"] {
    margin-left: 20px;
    margin-right: 5px;
  }
  .thread-details {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .thread-details h1,
  .thread-details h3,
  .thread-details p {
    padding-left: 15px;
    padding-right: 15px;
  }
  .thread-details .thread-info h1 {
    font-size: 2.5em;
  }
  .thread-details .thread-info h3 {
    font-size: 1.2em;
    line-height: 1em;
  }
  .thread-details .thread-content {
    margin-top: 25px;
  }
  .thread-details .thread-content iframe {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  .thread-details .thread-content img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .thread-details .thread-content p {
    font-size: 0.98em;
    line-height: 1.4em;
  }
  .thread-details .thread-content blockquote {
    margin: 25px 0 25px 0;
    padding: 0px 35px 0px 35px;
    font-size: 1.3em;
    line-height: 1.2em;
  }
  .thread-details .thread-tags {
    margin-left: 15px;
    margin-right: 15px;
  }
  .thread-details .thread-social {
    margin-top: 30px;
  }
  .thread-details .thread-social a {
    font-size: 45px;
  }
}
/* ADMIN CSS FILES */
#login-form {
  width: 100%;
  text-align: center;
}
#login-form #login-logo {
  margin-top: 200px;
}
#login-form #login-logo img {
  width: 400px;
  margin-bottom: 30px;
}
#login-form #login-form {
  font-family: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 2em;
}
#login-form #login-form p {
  margin: 0 0 0 0;
  color: #3c3c3c;
}
#login-form #login-form form {
  margin-top: 20px;
}
#login-form #login-form input[type="text"],
#login-form #login-form input[type="password"] {
  width: 300px;
  height: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  border: 1px solid #dddddd;
  font-size: 20px;
  padding: 3px 3px 3px 3px;
  font-family: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
#login-form #login-form input[type="submit"] {
  margin-top: 30px;
}
.admin {
  width: 800px;
  margin: 0 auto;
}
.admin ul {
  padding-left: 0px;
}
.admin li {
  list-style-type: none;
}
.admin .admin-header {
  margin-top: 40px;
}
.admin .admin-header img {
  width: 230px;
}
.admin .admin-header h1 {
  font-size: 40px;
}
.admin .form-label {
  font-size: 18px;
}
.admin .form-errors {
  color: #8f0000;
}
.admin .redactor_box {
  margin-bottom: 30px;
}
.admin .fold-unfold-anchor {
  margin-top: 30px;
}
.admin .fold-unfold {
  display: none;
}
.admin table {
  font-size: 18px;
}
.admin table td {
  min-width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.admin table td input[type="text"] {
  width: 500px;
  height: 30px;
  font-size: 18px;
  padding: 2px 5px 2px 5px;
}
#csrf-token {
  display: none;
}
