// colors
@lightest-black: rgb(130,130,130);
@lighter-black: rgb(110,110,110);
@light-black: rgb(90,90,90);
@black: rgb(60,60,60);
@white: #eeeeee;
@warning-red: #8F0000;
@nav-white: #ffffff;
@splash-border: #cccccc;
@category-border: #ddd;
@nav-bar-toggle: #eee;
@like-red: #A00000;
@facebook-blue: #3B5998;
@twitter-blue: #36ABE0;
@tumblr-blue: #2D455C;
@youtube-red: #FF3333;

// fonts

@font-face {
	font-family: socialico;
	src: url("../fonts/Socialico.otf") format("opentype");
}
@sans-serif: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@serif: "ff-tisa-web-pro", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
@museo: "museo-slab", @serif;

.socialico {
	font-family: socialico;
}

body {
	margin: 0 0 0 0;
	text-rendering: optimizelegibility;
	font-family: @sans-serif;
}

header {
	width: 90%;
	margin: 0 auto;
	font-family: @sans-serif;
	z-index: 99999;
	margin-top: 10px;
	#header-nav, #header-logo {
		display: inline-block;
	}
	#header-nav {
		float: right;
		text-align: right;
	}
	#header-menu {
		padding-top: 8px;
		padding-bottom: 15px;
		position: relative;
		#nav-bar-toggle {
			display: none;
		}
		#header-search, #header-pull {
			float: right;
		}
		#header-logo {
			display: inline-block;
			vertical-align: top;
			img {
				width: 200px;
				margin-top: 15px;
			}
		}
		#header-pull {
			margin-right: 10px;
			img {
				opacity: 0.8;
				width: 30px;
			}
		}
		#search-anchor {
			position: relative;
		}
		#icon-search {
			cursor: pointer;
		}
		#header-search {
			display: none;
			position: absolute;
			top: 0px;
			left: -220px;
			form {
				margin-bottom: 0px;
			}
			input {
				width: 245px;
				height: 26px;
				padding: 5px 5px 5px 5px;
				font-size: 1.2em;
				border: none;
				border-radius: 3px;
				border: 1px solid #e6e6e6;
				margin-top: 0px;
				font-family: @sans-serif;
			}
		}
		#menu-threads {
			list-style-type: none;
			display: inline-block;
			vertical-align: top;
			margin-top: 25px;
			margin-bottom: 0px;
			text-align: right;
			padding-left: 0px;
			li {
				display: inline-block;
				font-size: 0.96em;
				margin-left: 32px;
				a {
					color: @lighter-black;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
				i {
					color: @lighter-black;
					font-size: 1.1em;
					margin-left: 15px;
				}
			}
			.header-menu-submenu {
				position: absolute;
				width: 100%;
				z-index: 999;
				display: none;
				top:50px;
				left:0;
				height: 215px;
				background-color: #F8F8F8;
				// background-color: black;
				text-align: center;
				// opacity: 0.9;
				.header-menu-submenu-nav {
					p {
						font-size: 1.1em;
						margin-left: 25px;
						color: @lighter-black;
					}
				}
				.header-menu-submenu-icons {
					display: inline-block;
					position: relative;
					vertical-align: top;
					width: 23%;
					height: 150px;
					margin-left: 6px;
					margin-right: 6px;
					background-size: cover;
				}
				.header-menu-submenu-background {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 150px;
					background-color: black;
					opacity: 0.3;
				}
			}
		}
		#menu-social {
			margin-top: -10px;
			margin-bottom: 7px;
			font-family: "socialico";
			li {
				display: inline-block;
				list-style-type: none;
				font-size: 1.7em;
				a {
					text-decoration: none;
					color: @black;
				}
				.share-twitter {
					&:hover {
						color: @twitter-blue;
					}
				}
				.share-facebook {
					&:hover {
						color: @facebook-blue;
					}
				}
			}
			// #menu-subscribe {
			// 	font-family: @sans-serif;
			// 	font-size: 0.8em;
			// 	border-right: 1px solid @splash-border;
			// 	a {
			// 		color: @lighter-black;
			// 	}
			// }
		}
	}

}

.grayscale {
	-webkit-filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.facebook {
	color: @light-black;
	&:hover {
		color: @facebook-blue;
	}
}

.twitter {
	color: @light-black;
	&:hover {
		color: @twitter-blue;
	}
}

.youtube {
	color: @light-black;
	&:hover {
		color: @youtube-red;
	}
}

.tumblr {
	color: @light-black;
	&:hover {
		color: @tumblr-blue;
	}
}

#container {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}

#threads2 {
	width: 100%;
	margin-top: 30px;
	li {
		list-style-type: none;
	}
	ul {
		padding-left: 0px;
	}
	#hot-threads, #new-threads {
		display: inline-block;
		vertical-align: top;
	}
	#new-threads {
		width: 36%;
		.new-threads-li {
			padding-top: 2px;
			padding-bottom: 2px;
			.new-threads-div {
				min-height: 125px;
				&:hover {
					background-color: #F8F8F8;
				}
				.new-threads-image {
					display: inline-block;
					width: 35%;
					background: no-repeat;
					background-size: cover;
					min-height: 125px;
					position: relative;
					a {
						z-index: 999;
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						width: 100%;
					}
				}
				.new-threads-info {
					display: inline-block;
					vertical-align: top;
					width: 64%;
					a {
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}
					.new-threads-title, .new-threads-subtitle {
						padding-left: 10px;
						padding-right: 15px;
					}
					.new-threads-title {
						margin-top: 0px;
						margin-bottom: 5px;
						padding-top: 10px;
						font-size: 1.1em;
						line-height: 20px;
						a {
							color: @black;
						}
					}
					.new-threads-subtitle {
						margin-top: 0px;
						font-size: 0.9em;
						font-weight: 300;
						line-height: 15px;
						a {
							color: @lighter-black;
						}
					}
				}
			}
		}
	}
	#hot-threads {
		width: 63%;
		text-align: center;
		.hot-threads-ul {
			text-align: left;
			display: inline-block;
			margin-bottom: 40px;
			border-bottom: 1px solid #eeeeee;
			width: 90%;
			margin-right: 0px;
			margin-left: 20px;
		}
		.hot-threads-image {
			img {
				width: 100%
			}
			text-align: center;
		}
		.hot-threads-type {
			margin-top: 20px;
			font-size: 0.85em;
			a {
				color: @lighter-black;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.hot-threads-title {
			font-family: @sans-serif;
			h2 {
				margin-top: 5px;
				margin-bottom: 0px;
				font-size: 1.9em;
				line-height: 30px;
				a {
					color: @black;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		.hot-threads-subtitle {
			h3 {
				margin-top: 10px;
				font-size: 1.4em;
				font-family: @sans-serif;
				font-weight: 300;
				a {
					color: @lighter-black;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		.hot-threads-snippet {
			font-family: @serif;
			margin-top: 15px;
			iframe {
				margin-top: 15px;
			}
			a {
				color: @black;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

#threads {
	.thread-square {
		position: relative;
		float: left;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		text-align: center;
		cursor: pointer;
		a {
			color: white;
			text-decoration: none;
			&:hover {
				color: white;
			}
		}
		.thread-img {
			width: 100%;
			height: 100%;
			background-size: cover;
		}
		.thread-square-overlay {
			width: 100%;
			background-color: black;
			opacity: 0.4;
			position: absolute;
			bottom: 0;
		}
		.thread-text {
			width: 100%;
			position: absolute;
			bottom: 0;
			table {
				margin: 0 0 0 0;
				width: 100%;
				text-align: center;
				height: 100%;
				border-collapse: collapse;
				tr {
					width: 100%;
					td {
						width: 100%;
					}
				}
			}
		}
		.thread-title, .thread-type {
			z-index: 9990;
			color: #dddddd;
			text-transform: uppercase;
		}
		.thread-title {
			font-weight: 500;
			font-size: 1.45em;
			margin-top: 7px;
			margin-bottom: 5px;
			font-size: 1em;
		}
		.thread-type {
			margin-top: 0px;
			margin-bottom: 5px;
			font-weight: 300;
			font-size: 0.8em;
		}
	}
}

#category-list {
	h1 {
		font-family: @sans-serif;
		font-size: 3em;
		line-height: 0.85em;
		margin-top: 40px;
		color: @black;
		margin-left: 66px;
	}
	ul {
		padding-left: 66px;
		padding-right: 66px;
	}
	li {
		list-style-type: none;
	}
	.category-item {
		border-bottom: 1px solid @category-border;
		padding-top: 30px;
		padding-bottom: 30px;
		.category-item-image, .category-item-info {
			display: inline-block;
			vertical-align: top;
		}
		.category-item-image {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			border-radius: 50%;
			border: 1px solid @category-border;
			width: 20%;
			max-width: 175px;
			margin-left: 20px;
			a {
				width: 100%;
				height: 100%;
				display: block;
			}
		}
		.category-item-info {
			margin-left: 50px;
			h2, h3 {
				font-family: @museo;
			}
			h2 {
				margin-top: 10px;
				margin-bottom: 0px;
				color: @black;
				font-weight: 500;
			}
			h3 {
				font-weight: 300;
				color: @lighter-black;
				margin-top: 0px;
				font-size: 1em;
			}
			p {
				font-family: @serif;
				line-height: 25px;
			}
		}
	}
	#category-item-last {
		border-bottom: none;
	}
}

.splash-container {
	border-bottom: 1px solid @splash-border;
	.splash-subheading {
		font-family: @sans-serif;
		font-weight: 300;
		margin: 0 auto;
		margin-top: -19px;
		font-size: 1.5em;
		display: table;
		padding: 0 45px 0 45px;
		background-color: white;
		color: #6D6E70 - #222;
	}
}

#splash-recent {
	margin-top: 20px;
	ul {
		padding-left: 0;
		text-align: center;
		li {
			display: inline-block;
			list-style-type: none;
			vertical-align: top;
			width: 20.1%;
			margin: 1%;
			min-width: 150px;
			border: 1px solid @splash-border;
			.splash-recent-list-type {
				display: table;
				margin: 0 auto;
				margin-bottom: -13px;
				padding: 6px 35px 6px 35px;
				font-size: 0.85em;
				font-family: @museo;
				background-color: black;
				opacity: 0.8;
				color: white;
				font-weight: 300;
				a {
					color: white;
					text-decoration: none;
				}
				// &:hover {
				// 	a {
				// 		color: @black;
				// 	}
				// 	background-color: white;
				// 	border: solid 1px @splash-border;
				// }
			}
			.splash-recent-list-title {
				text-align: left;
				font-family: @museo;
				font-size: 1.05em;
				padding-left: 3px;
				padding-right: 3px;
				margin-top: 7px;
				a {
					color: @black;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		.splash-recent-list {
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			a {
				width: 100%;
				height: 100%;
				display: block;
				text-decoration: none;
			}
		}
	}
}

#splash-interviews {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 35px;
	#splash-interviews-1, #splash-interviews-2, #splash-interviews-3 {
		position: relative;
		h3 {
			position: absolute;
			bottom: 0;
			left: 0;
			font-weight: 300;
			padding: 10px 10px 10px 10px;
			background-color: black;
			margin-bottom: 10px;
			margin-left: 10px;
			margin-right: 10px;
			opacity: 0.8;
			font-family: @museo;
			a {
				color: white;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	#splash-interviews-1, #splash-interviews-2-container {
		display: inline-block;
		vertical-align: top;
		margin: 1%;
		width: 41.8%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
	#splash-interviews-2-container {
		overflow: hidden;
	}
 	#splash-interviews-2, #splash-interviews-3 {
		width: 100%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
 	}
 	#splash-interviews-2 {
		margin-bottom: 5.85%;
 	}
 	#splash-interviews-3 {
		margin-top: 5.85%;
 	}
}

#thread-menu {
	position: fixed;
	background-color: white;
	opacity: 1;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding-top: 10px;
	height: 30px;
	text-align: center;
	&:hover {
		opacity: 1;
	}
	#thread-header {
		display: inline-block;
		width: 100%;
		max-width: 640px;
	}
	#thread-logo {
		float: left;
		height: 25px;
	}
	#thread-close-button {
		float: right;
		height: 25px;
		opacity: 0.4;
		&:hover {
			opacity: 1.0;
		}
	}
}

.thread-main-image {
	padding-top: 120px;
	text-align: center;
	img {
		width: 100%;
		max-width: 800px;
	}
}

.thread-details {
	max-width: 640px;
	margin: 0 auto;
	padding-bottom: 100px;
	border-bottom: 1px solid #eeeeee;
	img {
		width: 100%;
	}
	iframe {
		width:100%;
		margin-top: 20px;
		margin-bottom: 30px;
	}
	.thread-info {
		h1 {
			font-size: 3.5em;
			line-height: 0.95em;
			margin-top: 30px;
			color: @black;
			margin-bottom: 10px;
			font-weight: 600;
			a {
				text-decoration: none;
				color: @black;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		h3 {
			color: @lighter-black;
			font-weight: 400;
			margin-bottom: 0px;
			margin-top: 0px;
			font-size: 1.45em;
		}
		p {
			color: @lighter-black;
			margin-top: 1px;
			font-family: @sans-serif;
			a {
				color: @lighter-black;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.thread-interview-info {
		margin-top: 30px;
		margin-bottom: -10px;
		p {
			margin-top: 0px;
			margin-bottom: 0px;
			padding-left: 40px;
			padding-right: 40px;
		}
	}
	.thread-content {
		margin-top: 42px;
		font-family: @serif;
		color: @black;
		font-size: 1.1em;
		position: relative;
		img {
			margin-top: 30px;
			margin-bottom: 30px;
		}
		blockquote {
			font-family: @sans-serif;
			font-size: 1.4em;
			line-height: 1.15em;
			padding-top: 10px;
			padding-bottom: 10px;
			margin-left: 65px;
			margin-right: 65px;
		}
		b {
			font-weight: 700;
		}
		a {
		}
	}
	.thread-tags {
		margin-top: 35px;
		a {
			color: @lighter-black;
			font-size: 0.85em;
			margin-right: 3px;
		}
	}
	.thread-social {
		text-align: center;
		margin-top: 70px;
		a {
			text-decoration: none;
			color: @black;
			font-size: 55px;
			margin-left: 2px;
			margin-right: 2px;
		}
		.thread-like-button {
			cursor: pointer;
			&:hover {
				color: @like-red;
			}
		}
		.share-twitter {
			&:hover {
				color: @twitter-blue;
			}
		}
		.share-facebook {
			&:hover {
				color: @facebook-blue;
			}
		}
	}
}

.thread-subscribe {
	max-width: 640px;
	margin: 0 auto;
	border-bottom: 1px solid #eeeeee;
	font-family: @sans-serif;
	padding: 10px 0 10px 0;
	input {
		margin-left: 25px;
	}
	h3 {
		color: @black;
		font-size: 2.2em;
		line-height: 1.2em;
		width: 50%;
		text-align: right;
		font-weight: 900;
		letter-spacing: 1px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	h3, p {
		display: inline-block;
		vertical-align: top;
	}
	p {
	}
	.subscribe-info-block {
		display: inline-block;
		width: 45%;
	}
	.subscribe-email {
		color: @light-black;
	}
	.subscribe-error {
		color: @warning-red;
		display: none;
	}
	.subscribe-success {
		display: none;
		color: @lighter-black;
	}
	.subscribe {
		margin-top: 30px;
		margin-left: 25px;
		margin-bottom: 5px;
		font-family: @sans-serif;
		font-weight: 300;
		letter-spacing: 1px;
		font-size: 1.17em;
	}
	input[type="email"] {
		font-size: 17px;
		height: 25px;
		width: 220px;
		border: none;
		border: 1px solid #ddd;
		border-radius: 0;
	}
	input[type="submit"] {
		font-size: 0.9em;
		border: none;
		height: 32px;
		// border-radius: 50%;
		color: white;
		background-color: @black;
		margin-left: 0px;
		cursor: pointer;
		&:hover {
			background-color: white;
			border: solid 1px @black;
			color: @black;
		}
	}
}

#slides {
	position: relative;
	margin: 0 auto;
	width: 100%;
	// margin-top: 25px;
	// margin-bottom: 45px;
	img {
		width: 100%;
	}
	.slidesjs-pagination {
		display: none;
	}
	.slidesjs-next, .slidesjs-previous {
		top: 50%;
		margin-top: -100px;
		position: absolute;
		z-index: 9998;
	}

	.slidesjs-previous {
		left: 20px;
		background: url('../img/arrows-left.png') no-repeat;
		// background-size: 60 200px;
		height: 200px;
		width: 60px;
		text-indent: -9999px;
		&:hover {
			// background-size: 60 200px;
			width: 60px;
			background: url('../img/arrow-left-hover.png') no-repeat;
		}
	}


	.slidesjs-next {
		background: url('../img/arrows-right.png') no-repeat;
		right: 20px;
		background-size: 60px 200px;
		height: 200px;
		width: 60px;
		text-indent: -9999px;
		&:hover {
			background-size: 60px 200px;
			background: url('../img/arrows-right.png') no-repeat;
		}
	}
}

@media only screen and (min-width: 541px) and (max-width: 680px) {
	.thread-main-image {
		padding-top: 95px;
		text-align: center;
		img {
			width: 100%;
			max-width: 800px;
		}
	}
	.thread-subscribe {
		width: 90%;
		h3 {
			font-size: 1.2em;
			width: 100%;
			text-align: left;
			margin-bottom: 0px;
		}
		.subscribe-info-block {
			display: block;
			width: 100%;
		}
		.subscribe {
			margin-left: 10%;
			font-size: 1em;
			margin-top: 10px;
		}
		p, h3 {
			width: 80%;
			padding-left: 10%;
			padding-right: 10%;
		}
		.subscribe-email {
			padding-left: 0px;
		}
		input[type="email"]{
			margin-left: 10%;
			margin-right: 5px;
			width: 180px;
		}
	}
	.thread-details {
		padding-bottom: 50px;
		width: 92%;
		.thread-info {
			h1 {
				font-size: 3.0em;
				line-height: 0.95em;
			}
			h3 {
				font-size: 1.3em;
				line-height: 1.13em;
			}
		}
		.thread-content {
			margin-top: 25px;
			iframe {
				margin-top: 10px;
				margin-bottom: 10px;
				width: 100%;
			}
			img {
				width: 100%;
				margin-top: 20px;
				margin-bottom: 20px;
			}
			p {
				font-size: 1em;
			}
			blockquote {
				margin: 35px 0 35px 0;
				padding: 0px 50px 0px 50px;
				font-size: 1.35em;
				line-height: 1.1em;
			}
		}
		.thread-social {
			margin-top: 55px;
			a {
				font-size:50px;
			}
		}
	}
}

@media only screen and (min-width: 321px) and (max-width: 540px) {
	.thread-main-image {
		padding-top: 85px;
		text-align: center;
		img {
			width: 100%;
			max-width: 800px;
		}
	}
	.thread-subscribe {
		width: 90%;
		h3 {
			font-size: 1.2em;
			width: 100%;
			text-align: left;
			margin-bottom: 0px;
		}
		.subscribe-info-block {
			display: block;
			width: 100%;
		}
		.subscribe {
			margin-left: 10%;
			font-size: 1em;
			margin-top: 10px;
		}
		p, h3 {
			width: 80%;
			padding-left: 10%;
			padding-right: 10%;
		}
		.subscribe-email {
			padding-left: 0px;
		}
		input[type="email"]{
			margin-left: 10%;
			margin-right: 5px;
			width: 180px;
		}
	}
	.thread-details {
		padding-bottom: 50px;
		width: 89%;
		.thread-info {
			h1 {
				font-size: 2.7em;
				line-height: 0.95em;
			}
			h3 {
				font-size: 1.3em;
				line-height: 1em;
			}
		}
		.thread-content {
			margin-top: 25px;
			iframe {
				margin-top: 10px;
				margin-bottom: 10px;
				width: 100%;
			}
			img {
				width: 100%;
				margin-top: 20px;
				margin-bottom: 20px;
			}
			p {
				font-size: 0.98em;
				line-height: 1.4em;
			}
			blockquote {
				margin: 25px 0 25px 0;
				padding: 0px 35px 0px 35px;
				font-size: 1.3em;
				line-height: 1.05em;
			}
		}
		.thread-social {
			margin-top: 40px;
			a {
				font-size: 45px;
			}
		}
	}
}

@media only screen and (max-width: 320px) {
	.thread-main-image {
		padding-top: 70px;
		text-align: center;
		img {
			width: 100%;
			max-width: 800px;
		}
	}
	.thread-subscribe {
		width: 90%;
		h3 {
			font-size: 1.2em;
			width: 100%;
			text-align: left;
			margin-bottom: 0px;
		}
		.subscribe-info-block {
			display: block;
			width: 100%;
		}
		.subscribe {
			margin-left: 10%;
			font-size: 1em;
			margin-top: 10px;
		}
		p, h3 {
			width: 80%;
			padding-left: 10%;
			padding-right: 10%;
		}
		.subscribe-email {
			padding-left: 0px;
		}
		input[type="email"]{
			margin-left: 10%;
			margin-right: 5px;
			width: 150px;
		}
	}

	.thread-details {
		width: 88%;
		padding-bottom: 50px;
		.thread-info {
			h1 {
				font-size: 2.5em;
				line-height: 0.95em;
			}
			h3 {
				font-size: 1.2em;
				line-height: 1em;
			}
		}
		.thread-content {
			margin-top: 25px;
			iframe {
				margin-top: 10px;
				margin-bottom: 10px;
				width: 100%;
			}
			img {
				width: 100%;
				margin-top: 20px;
				margin-bottom: 20px;
			}
			p {
				font-size: 0.98em;
				line-height: 1.4em;
			}
			blockquote {
				margin: 18px 0 18px 0;
				padding: 0px 25px 0px 25px;
				font-size: 1.3em;
				line-height: 1em;
			}
		}
		.thread-social {
			margin-top: 35px;
			a {
				font-size: 45px;
			}
		}
	}
}

.swipeshow {
	position: relative;
	.next, .previous {
		position: absolute;
		z-index: 9999;
		bottom: 45%;
		display: inline-block;
		width: 40px;
		height: 40px;
	}
	.previous {
		background: url('../img/arrow-left.png') no-repeat center center;
		background-size: cover;
		&:hover {
			background: url('../img/arrow-left-hover.png') no-repeat center center;
			background-size: cover;
		}
	}
	.next {
		right: 0;
		background: url('../img/arrow-right.png') no-repeat center center;
		background-size: cover;
		&:hover {
			background: url('../img/arrow-right-hover.png') no-repeat center center;
			background-size: cover;
		}
	}
}

.slides {
	.slide {
		.slide-item {
			width: 100%;
			height: 100%;
			display: block;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			position: relative;
			a {
				display: block;
				height: 100%;
				width: 100%;
			}
			.slide-item-caption {
				position: absolute;
				bottom: 0;
				width: 100%;
				background-color: black;
				opacity: 0.8;
				padding-top: 10px;
				padding-bottom: 10px;
				a {
					text-decoration: none;
					color: white;
					&:hover {
						color: #ccc;
					}
				}
				p, h2 {
					padding-left: 15px;
					padding-right: 15px;
				}
				p {
					margin-top: 0px;
					margin-bottom: 0px;
					font-size: 0.85em;
				}
				h2 {
					margin-top: 0px;
					margin-bottom: 0px;
					line-height: 0.92em;
					font-size: 1.35em;
					font-weight: 600;
				}
			}
		}
	}
}

@media only screen and (min-width: 671px) {
	header {
		nav {
			#header-nav {
				#menu-social {
					display: none;
				}
			}
		}
	}
	#home-slides {
		width: 90%;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;
		height: 350px;
	}
	#home-thread-list, #home-side {
		display: inline-block;
		vertical-align: top;
	}
	#home-side {
		width: 27%;
		margin-left: 3%;
		.side-heading {
			font-weight: 600;
			font-size: 1em;
			padding-top: 4px;
			padding-bottom: 4px;
			color: #ccc;
			border-bottom: 1px solid #ccc;
			letter-spacing: 1px;
			margin-bottom: 10px;
		}
		#home-subscribe {
			.thread-subscribe {
				padding-top: 0;
				padding-bottom: 0;
				border-bottom: none;
				.subscribe {
					font-family: @sans-serif;
					font-weight: 600;
					margin-left: 0px;
				}
				#subscribe-text {
					font-weight: 900;
					letter-spacing: 1px;
					font-size: 1.4em;
					margin-top: 0px;
					margin-bottom: 2px;
					line-height: 1em;
				}
				#subscribe-email {
					margin-top: 10px;
					margin-bottom: 5px;
					font-family: @sans-serif;
					font-weight: 300;
					letter-spacing: 1px;
					font-size: 1.02em;
				}
				p {
					padding-left: 0;
					font-family: @museo;
					color: @light-black;
				}
				input[type="email"] {
					margin-left: 0px;
					font-size: 0.95em;
					border: 1px solid #ccc;
					height: 27px;
				}
				input[type="submit"] {
					margin-top: 5px;
					background-color: white;
					height: 1px;
				}
				.subscribe-error {
					color: @warning-red;
					display: none;
				}
				.subscribe-success {
					display: none;
					color: @lighter-black;
				}
			}
		}
		#home-featured-artist-image {
			width: 100%;
			display: block;
			height: 175px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}
		.home-featured-artist-profile-header {
			font-weight: 600;
			font-size: 0.8em;
			margin-top: 8px;
			color: #999;
			letter-spacing: 1px;
			margin-bottom: 0px;
		}
		.home-featured-artist-profile {
			margin-top: 0px;
			margin-bottom: 5px;
			font-weight: 600;
			color: @black;
		}
		.home-featured-artist-profile-link {
			margin-top: 20px;
			margin-bottom: 5px;
			font-weight: 600;
			a {
				color: @light-black;
				text-decoration: none;
				&:hover {
					color: @lighter-black;
				}
			}
		}
		.home-side-sns {
			text-align: center;
			a {
				font-size: 3.25em;
				text-decoration: none;
			}
		}
		iframe {
			width: 100%;
			height: 250px;
		}
	}
	#home-thread-list {
		margin-left: 5%;
		width: 60%;
		.home-thread-heading {
			font-weight: 600;
			font-size: 1em;
			padding-top: 4px;
			padding-bottom: 4px;
			color: #ccc;
			border-bottom: 1px solid #ccc;
			letter-spacing: 1px;
			margin-bottom: 0px;
			.home-thread-heading-more {
				float: right;
				a {
					color: #ccc;
					text-decoration: none;
				}
			}
		}
		ul {
			padding-left: 0px;
			margin-top: 0px;
		}
		li {
			list-style-type: none;
			&:hover {
				background-color: #f6f6f6;
			}
			.home-thread-item {
				width: 100%;
				padding-top: 12px;
				padding-bottom: 12px;
				border-bottom: 1px solid #eee;
				.home-thread-item-image, .home-thread-item-info {
					display: inline-block;
					vertical-align: top;
				}
				.home-thread-item-image {
					width: 35%;
					height: 140px;
					background-size: cover;
					background-position: center center;
					background-repeat: no-repeat;
					a {
						display: block;
						text-decoration: none;
						width: 100%;
						height: 100%;
					}
				}
				.home-thread-item-info {
					width: 63%;
					h2, h3 {
						font-family: @museo;
						padding-left: 12px;
						padding-right: 12px;
					}
					h2 {
						margin-top: 1px;
						margin-bottom: 0px;
						font-weight: 700;
						font-size: 1.25em;
						a {
							color: @black;
							text-decoration: none;
						}
					}
					h3 {
						font-weight: 300;
						color: @lighter-black;
						margin-top: 3px;
						margin-bottom: 5px;
						font-size: 1.05em;
					}
					p {
						padding-left: 12px;
						padding-right: 12px;
						margin-bottom: 5px;
					}
					.home-item-date {
						margin-top: 5px;
						font-size: 0.85em;
						color: @lighter-black;
					}
					.home-item-type {
						font-size: 0.87em;
						font-weight: 600;
						letter-spacing: 1px;
						margin-top: 0px;
						margin-bottom: 0px;
						a {
							color: #999;
							text-decoration: none;
						}
					}
				}
			}
			#home-thread-item-last {
				// border: none;
			}
		}
	}
}

footer {
	padding-bottom: 30px;
	margin-top: 55px;
	ul {
		padding-left: 0;
		margin-left: 5%;
		margin-bottom: 10px;
	}
	li {
		list-style-type: none;
		display: inline-block;
		margin-right: 12px;
		font-size: 0.9em;
		a {
			text-decoration: none;
			color: @lighter-black;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	p {
		color: @lightest-black;
		margin-left: 5%;
		margin-top: 0px;
		font-size: 0.9em;
	}
}

@media only screen and (max-width: 670px) {
	header {
		width: 90%;
		margin: 0 auto;
		margin-top: 0px;
		border: none;
		position: relative;
		#header-menu {
			#header-logo {
				img {
					width: 200px;
					margin: 10px 0px 0px -3px;
				}
			}
			#nav-bar-toggle {
				display: block;
				float: right;
				border: none;
				background-color: white;
				height: 32px;
				width: 35px;
				margin-top: 6px;
				margin-right: 0px;
				cursor: pointer;
				padding: 7px 0px 8px 7px;
				.nav-bar-toggle-bars {
					margin-bottom: 4px;
					background-color: white;
					display: block;
					border-top: 2px solid @black;
					border-bottom: 1px solid @black;
					border-left: 2px solid @black;
					border-right: 1px solid @black;
				}
			}
			#header-nav {
				display: none;
				position: absolute;
				width: 100%;
				top: 55px;
				left: 0;
				z-index: 9999;
				background-color: @nav-bar-toggle;
				padding-top: 15px;
				padding-bottom: 15px;
				text-align: left;
				li {
					display: block;
				}
				#menu-social, #menu-threads {
					li {
						margin-left: 0px;
						font-size: 1.15em;
						margin-top: 3px;
						margin-bottom: 3px;
					}
					margin-top: 0px;
					margin-bottom: 0px;
					text-align: right;
				}
				#menu-threads {
					display: block;
					li {
						padding-left: 30px;
						padding-right: 18px;
						&:hover {
							a {
								color: @black;
								text-decoration: none;
							}
						}
					}
				}
				#menu-social {
					padding-left: 30px;
					padding-right: 18px;
					li {
						display: inline-block;
						font-size: 2em;
					}
				}
			}
		}
	}
	#home-thread-list {
		margin: 0 auto;
		width: 90%;
		.home-thread-heading {
			font-weight: 600;
			font-size: 0.9em;
			padding-top: 4px;
			padding-bottom: 4px;
			color: #ccc;
			border-bottom: 1px solid #ccc;
			letter-spacing: 1px;
			.home-thread-heading-more {
				float: right;
				a {
					color: #ccc;
					text-decoration: none;
				}
			}
		}
		ul {
			padding-left: 0px;
		}
		li {
			list-style-type: none;
			.home-thread-item {
				width: 100%;
				padding-top: 12px;
				padding-bottom: 12px;
				border-bottom: 1px solid #eee;
				.home-thread-item-image, .home-thread-item-info {
					display: inline-block;
					vertical-align: top;
				}
				.home-thread-item-image {
					width: 35%;
					height: 100px;
					background-size: cover;
					background-position: center center;
					background-repeat: no-repeat;
					a {
						display: block;
						text-decoration: none;
						width: 100%;
						height: 100%;
					}
				}
				.home-thread-item-info {
					width: 63%;
					h2, h3 {
						font-family: @museo;
						padding-left: 12px;
						padding-right: 12px;
					}
					h2 {
						margin-top: 1px;
						margin-bottom: 0px;
						font-weight: 500;
						font-size: 1.15em;
						a {
							color: @black;
							text-decoration: none;
						}
					}
					h3 {
						font-weight: 300;
						color: @lighter-black;
						margin-top: 0px;
						margin-bottom: 5px;
						font-size: 0.95em;
					}
					p {
						padding-left: 12px;
						padding-right: 12px;
						margin-bottom: 5px;
					}
					.home-item-date {
						margin-top: 5px;
						font-size: 0.85em;
						color: @lighter-black;
					}
					.home-item-type {
						font-size: 0.75em;
						font-weight: 600;
						letter-spacing: 1px;
						margin-top: 0px;
						margin-bottom: 0px;
						a {
							color: #999;
							text-decoration: none;
						}
					}
				}
			}
			#home-thread-item-last {
			}
		}
	}
	footer {
		width: 90%;
		li {
			display: block;
		}
	}
	#home-side {
		display: none;
	}
}

@media only screen and (min-width: 500px) and (max-width: 670px) {
	#home-thread-list {
		li {
			.home-thread-item {
				.home-thread-item-image {
					height: 130px;
				}
			}
		}
	}
}

/* ADMIN CSS FILES */

#login-form {
	width: 100%;
	text-align: center;
	#login-logo{
		margin-top: 200px;
		img {
			width: 400px;
			margin-bottom: 30px;
		}
	}
	#login-form {
		font-family: @sans-serif;
		font-weight: 200;
		font-size: 2em;
		p {
			margin: 0 0 0 0;
			color: @black;
		}
		form {
			margin-top: 20px;
		}
		input[type="text"], input[type="password"] {
			width: 300px;
			height: 35px;
			margin-top: 5px;
			margin-bottom: 5px;
			border: none;
			border: 1px solid #dddddd;
			font-size: 20px;
			padding: 3px 3px 3px 3px;
			font-family: @sans-serif;
		}
		input[type="submit"] {
			margin-top: 30px;
		}
	}
}

.admin {
	width: 800px;
	margin: 0 auto;
	ul {
		padding-left: 0px;
	}
	li {
		list-style-type: none;
	}
	.admin-header {
		margin-top: 40px;
		img {
			width: 230px;
		}
		h1 {
			font-size: 40px;
		}
	}
	.form-label {
		font-size: 18px;
	}
	.form-errors {
		color: @warning-red;
	}
	.redactor_box {
		margin-bottom: 30px;
	}
	.fold-unfold-anchor {
		margin-top: 30px;
	}
	.fold-unfold {
		display: none;
	}
	table {
		font-size: 18px;
		td {
			min-width: 100px;
			padding-top: 5px;
			padding-bottom: 5px;
			input[type="text"] {
				width: 500px;
				height: 30px;
				font-size: 18px;
				padding: 2px 5px 2px 5px;
			}
			// text-align: right;
		}

	}
}




#csrf-token {
	display: none;
}
















