{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Search results for {{query}}{% endblock %}

{% block content %}

    {% include "nav.html" %}

    <div id="home-thread-list">
        <h5 class="home-thread-heading">RESULTS FOR: {{query|upper}} <span class="home-thread-heading-more"></h5>
        <ul>
        {% if query %}
            {% for t in page.object_list %}
                <li>
                    {% if forloop.last %}
                    <div class="home-thread-item" id="home-thread-item-last">
                    {% else %}
                    <div class="home-thread-item">
                    {% endif %}
                        <div class="home-thread-item-image" style="background-image:url('{{MEDIA_URL}}{{t.object.main_image}}');">
                            <a href="/threads/{{t.object.id}}/{{t.object.slug}}/"></a>
                        </div>
                        <div class="home-thread-item-info">
                            <p class="home-item-type"><a href="/threads/category/{{t.object.thread_type.slug}}/">{{t.object.thread_type|upper}}</a></p>
                            <h2><a href="/threads/{{t.object.id}}/{{t.object.slug}}/">{{t.object.title}}</a></h2>
                            <h3>{{t.object.subtitle}}</h3>
                            <p class="home-item-date">By {{t.object.author.get_full_name}} on {{t.object.created|date:"M jS, o"}}</p>
                        </div>
                    </div>
                </li>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
        </ul>
    </div>

    {% include "footer.html" %}

{% endblock %}
