{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Sound Tribe admin login{% endblock %}

{% block content %}

	<div id="login-form">
		<div id="login-logo">
			<a href="/"><img src="{% static "img/logo.png" %}" alt="soundtribe lc logo"></a>
		</div>
		<div id="login-form">
			<p>Admin Login</p>
			<form method="post" action="{% url "django.contrib.auth.views.login" %}">
				{% csrf_token %}
				<p>{{ form.username }}</p>
				<p>{{ form.password }}</p>
				<input type="submit" value="Login" id="login-submit-button">
				<input type="hidden" name="next" value="{% url "admin_view" %}" />
			</form>
		</div>
	</div>

	{% if form.errors %}
		<div class="form-errors">
			<p>{{form.errors}}</p>
		</div>
	{% endif %}

{% endblock %}