{% extends "base.html" %}
{% load staticfiles %}

{% block outer-content %}
	{% include "details_nav.html" %}
{% endblock %}

{% block content %}

<div class="thread-main-image">
</div>

<div class="thread-details">
	<div class="thread-info">
		<h1>Contact STLC</h1>
	</div>

	<div class="thread-content">

	<p>If you have any questions or general inquiries, you can contact us at <a href="mailto:admin@soundtribelc.com">admin@soundtribelc.com</a>.</p>

	<p>If you would like us to feature your music, you may send an mp3 or Soundcloud link to <a href="mailto:theweb@soundtribelc.com">theweb@soundtribelc.com</a>. We do NOT accept any music submissions or press material via Facebook, Twitter, or our admin@soundtribelc.com account.</p>

	<p>We will respond back to you as soon as possible.</p>

	</div>

</div>


{% endblock %}