{% extends "base_music.html" %}
{% load staticfiles %}


{% block content %}

{# {% include "music/music_nav.html" %} #}

{# <ul> #}
	{% for artist in artists %}
		<div class="artist-image" style="background-image:url('{{MEDIA_URL}}{{artist.image}}');">
			<a href="/music/artist/{{artist.id}}"></a>
			<div class="artist-caption">
				<p><a style="color: {{artist.sub_color}}; background-color: {{artist.dominant_color}}" 
					href="/music/artist/{{artist.id}}">[{{artist.genre|upper}}]<br>{{artist.name|upper}}</a></p>
			</div>
		</div>
	{% endfor %}
{# </ul> #}
{% endblock %}