{% extends "base_music.html" %}
{% load staticfiles %}

{% block styles %}
<style>
{% if artist.isSquare %}
	.artist-detail-image {
		position: relative;
		background-size: contain;
		top: 50px;
	}

	#artist-name {
		padding-top: 60px;
	}
{% else %}
	.artist-detail-image{
		background-size: cover;
		background-position: center center;
	}
{% endif %}
	.follow-artist {
		color: {{artist.dominant_color}};
	}

	#notice-item {
		line-height: 1em;
	}

	#notice-table td{
		/*color: {{ artist.dominant_color }};*/
		border-top: 1px solid {{artist.dominant_color}};
		border-bottom: 1px solid {{artist.dominant_color}};
	}
</style>

{% endblock %}




{% block content %}

{% include "music/music_nav.html" %}

{# <div style="background-color: {{artist.sub_color}}; color: {{artist.dominant_color}};"> #}
	<div class="artist-detail-image" style="background-image:url('{{MEDIA_URL}}{{artist.image}}');"></div>
	<div id="artist-content">
		<p id="artist-name">{{artist.name}}</p>
		<p id="artist-description">{{artist.description}}</p>
		
		<h3>RECENT NEWS</h3>
		<table id="notice-table" width="100%">
			{% for notice in notices %}
				{% if notice.artist.all.0 == artist %}
					<tr id="notice-item">
						<td id="notice-date">{{ notice.date|date:"m/d/Y" }}</td>
						<td id="notice-category">{{ notice.category }}</td>
						<td id="notice-artist">{{ notice.artist.all.0 }}</td>
						<td width="99%"><a href="/music/notice/{{notice.id}}/">{{  notice.content }}</a></td>
					</tr>
				{% endif %}
			{% endfor %}
		</table>

		{% if artist.website or artist.facebook or artist.twitter or artist.tumblr or artist.bandcamp or artist.soundcloud or artist.youtube %}
		<p id="follow">Follow {{artist.name}}:</p>
		{% endif %}
	
		{% if artist.website %}
		<a href={{artist.website}} id="follow-artist">Website</a>
		{% endif %}
	
		{% if artist.facebook %}
		<a href={{artist.facebook}} id="follow-artist" class="socialico facebook">f</a>
		{% endif %}

		{% if artist.twitter %}
		<a href={{artist.twitter}} id="follow-artist" class="socialico twitter">t</a>
		{% endif %}

		{% if artist.tumblr %}
		<a href={{artist.tumblr}} id="follow-artist" class="socialico tumblr">r</a>
		{% endif %}

		{% if artist.bandcamp %}
		<a href={{artist.bandcamp}} id="follow-artist" class="socialico bandcamp">b</a>
		{% endif %}

		{% if artist.soundcloud %}
		<a href={{artist.soundcloud}} id="follow-artist">Soundcloud</a>
		{% endif %}

		{% if artist.youtube %}
		<a href={{artist.youtube}} id="follow-artist">Youtube</a>
		{% endif %}
	</div>	
{# </div> #}

{% endblock %}