{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
<link rel='stylesheet' href="{% static 'css/jquery.swipeshow.css' %}">
{% endblock %}


{% block content %}

{% include "music/music_nav.html" %}

	<div class="swipeshow" id="home-slides">
		<ul class="slides">
			{% for s in slideshow %}
			<li class="slide">
				<div class="slide-item" style="background-image:url('{{MEDIA_URL}}{{s.image}}');">
					<a href="/music/artist/{{s.id}}/"></a>
					<div class="slide-item-caption">
						<p><a href="/music/artist/{{s.id}}/">{{s.genre|upper}}</a></p>
						<h2><a href="/music/artist/{{s.id}}/">{{s.name|upper}}</a></h2>
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
 		<a href="#" class="next"></a>
		<a href="#" class="previous"></a>
	</div>


<div id="home-thread-list">
<h2>NOTICES</h2><hr>
{% if notices %}
	<ul>
		{% for notice in notices %}
			<li><a href="/music/notice/{{notice.id}}/">{{ notice.date }} | {{ notice.category }} | {{  notice.content }} </a></li>
		{% endfor %}
	</ul>
{% else %}
	<p>No notices for now.</p>
{% endif %}
</div>

{% endblock %}