{% extends "base_music_home.html" %}
{% load staticfiles %}


{% block content %}

{% include "music/music_nav.html" %}

{% for artist in artists %}
<div id="home-artist-pic" style="background-image:url('{{MEDIA_URL}}{{artist.image}}');"></div>
{% endfor %}

<div class="container">
	<div id="home-notice-list">
		<h2>NOTICES</h2>
		{% if notices %}
			{% for notice in notices %}
				<a href="/music/notice/{{notice.id}}/">{{ notice.date }} | {{ notice.category }} | {{  notice.content }} </a><br>
			{% endfor %}
		{% else %}
			<p>No notices for now.</p>
		{% endif %}
	</div>
</div>

{% endblock %}