{% extends "base_music.html" %}
{% load staticfiles %}

{% block styles %}
<style>
	#footer{
		position: relative;
	}
</style>
{% endblock %}

{% block content %}

{% include "music/music_nav.html" %}

<div id="container-home">
	<div id="home-notice-list">
		<br>
		<h2>SOUNDTRIBE LC NEWS</h2>

		{% if notices %}	
			<table id="notice-table" width="100%">
			{% for notice in notices %}
					<tr id="notice-item">
						<td id="notice-date">{{ notice.date|date:"m/d/Y" }}</td>
						<td id="notice-category">{{ notice.category }}</td>
						<td id="notice-artist">{{ notice.artist.all.0 }}</td>
						<td width="99%"><a href="/music/notice/{{notice.id}}/">{{  notice.content }}</a></td>
					</tr>
			{% endfor %}
			</table>

		{% else %}
			<p>No notices for now.</p>
		{% endif %}

		<br>
	</div>
</div>

{% endblock %}