{% extends "base_music.html" %}
{% load staticfiles %}

{% block styles %}
<style>
	#notice-detail-image{
		padding-top: 40px;
	}

	#footer{
		position: relative;
	}
</style>
{% endblock %}

{% block title %}
{{ notice.artist.all.0 }} {{ notice.category }}
{% endblock %}

{% block content %}

{% include "music/music_nav.html" %}

{% if notice.image %}
<div id="notice-detail-image" style="background-image:url('{{MEDIA_URL}}{{notice.image}}');"></div>
{% endif %}

<ul id="notice-detail">
	<li id="notice-detail-when">{{notice.date | date:"F j, Y"}}</li>
	<li id="notice-detail-who">{{notice.artist.all.0}}</li>
	<li id="notice-detail-what">{{notice.category}}</li>


	{% if notice.long_content %}
	<li id="notice-detail-content">{{notice.long_content}}</li>
	{% else %}
	<li id="notice-detail-content">{{notice.content}}</li>
	{% endif %}

</ul>
{% endblock %}