{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
<link rel='stylesheet' href="{% static 'css/jquery.swipeshow.css' %}">
{% endblock %}

{% block title %}Sound Tribe LC{% endblock %}

{% block content %}

{% include "nav.html" %}

	<div class="swipeshow" id="home-slides">
		<ul class="slides">
			{% for s in slideshow %}
			<li class="slide">
				<div class="slide-item" style="background-image:url('{{MEDIA_URL}}{{s.main_image}}');">
					{# <a href="/threads/{{s.id}}/{{s.slug}}/"></a> #}
					<div class="slide-item-caption">
						<p><a href="/threads/category/{{s.thread_type.slug}}/">{{s.thread_type.title|upper}}</a></p>
						<h2><a href="/threads/{{s.id}}/{{s.slug}}/">{{s.title|upper}}</a></h2>
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
 		<a href="#" class="next"></a>
		<a href="#" class="previous"></a>
	</div>

	{% block js %}
		{{ block.super }}
		<script src="{% static "js/endless-pagination.js" %}"></script>
		<script>
		$.endlessPaginate({
			paginateOnScroll: true,
			paginateOnScrollMargin: 250
		});
		</script>
	{% endblock %}

<div id="home-thread-list">
	<h5 class="home-thread-heading">RECENT THREADS <span class="home-thread-heading-more"></h5>
	<ul>
		<div class="endless_page_template">
	    {% include page_template %}
		</div>
	</ul>
</div>
<div id="home-side">
	<div class="home-side-item">
		<h5 class="side-heading">FEATURED ARTIST</h5>
		<div id="home-featured-artist-image" style="background-image:url('{{MEDIA_URL}}{{feature_artist.main_image}}')"></div>
		<div id="home-featured-artist-info">
			<p class="home-featured-artist-profile-header">NAME</p>
			<p class="home-featured-artist-profile">{{feature_artist.artist_name|upper}}</p>
			<p class="home-featured-artist-profile-header">OCCUPATION</p>
			<p class="home-featured-artist-profile">{{feature_artist.artist_occupation|upper}}</p>
			<p class="home-featured-artist-profile-header">GENRE</p>
			<p class="home-featured-artist-profile">{{feature_artist.artist_genre|upper}}</p>
			<p class="home-featured-artist-profile-link"><a href="/threads/{{feature_artist.id}}/{{feature_artist.slug}}/">Read STLC's interview with {{feature_artist.artist_name|title}}</a></p>
		</div>
	</div>
	{% if mplaylist %}
	<div class="home-side-item">
		<h5 class="side-heading">STLC MONTHLY PLAYLIST</h5>
		{{mplaylist|safe}}
	</div>
	{% endif %}
	{% if talkbox %}
	<div class="home-side-item">
		<h5 class="side-heading">TALKBOX</h5>
		{{talkbox|safe}}
	</div>
	{% endif %}
	{% if listen %}
	<div class="home-side-item">
		<h5 class="side-heading">L!STEN</h5>
		{{listen|safe}}
	</div>
	{% endif %}
	<div id="home-subscribe">
		<h5 class="side-heading">SUBSCRIBE</h5>
		<div id="csrf-token">{{csrf_token}}</div>
		<div class="thread-subscribe">
			<form action="">
				<p class="subscribe" id="subscribe-text">STAY TUNED WITH STLC!</p>
				<p class="subscribe subscribe-success">You have been successfully subscribed.</p>
				<p class="subscribe subscribe-error">Please input a valid email address.</p>
				<p class="subscribe" id="subscribe-email">ENTER YOUR EMAIL:</p>
				<input type="email" name="subscription-email">
				<input type="submit" value="" class="subscribe-submit">
				{# <button type="submit" class="subscribe-submit"></button> #}
			</form>
		</div>
	</div>
	<div class="home-side-item">
		<h5 class="side-heading">STLC SNS</h5>
		<div class="home-side-sns">
			<a href="" class="socialico facebook">f</a>
			<a href="" class="socialico twitter">l</a>
			<a href="" class="socialico youtube">x</a>
			<a href="" class="socialico tumblr">t</a>
		</div>
	</div>
</div>

    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static 'js/jquery.swipeshow.js' %}"></script>
	<script>
	$(function() {
	  	$(".swipeshow").swipeshow({
	  		autostart: false,
	  		mouse: true,
	  		keys: true,
	  		friction: 0,
	  	});
	});
	</script>

{% include "footer.html" %}

{% endblock %}