{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Sound Tribe LC{% endblock %}

{% block content %}

{% include "nav.html" %}

<div id="home-thread-list">
	<h1>RECENT THREADS</h1>
	<ul>
		{% for t in recents %}
		<li>
			<div class="home-thread-item">
				<div class="home-thread-item-image" style="background-image:url('{{MEDIA_URL}}{{t.main_image}}');">
					<a href=""></a>
				</div>
				<div class="home-thread-item-info">
					<h2>{{t.title|title}}</h2>
					<h3>{{t.subtitle}}</h3>
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>

{% include "footer.html" %}

{% endblock %}