{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{single_thread.title|upper}}{% endblock %}
{% block styles %}
	{{block.super}}
	<link rel="stylesheet" href="{% static "css/tipsy.min.css" %}">
{% endblock %}
{% block meta %}
<meta property="og:title" content="{{single_thread.title}}">
<meta property="og:url" content="http://soundtribelc.com{{request.path}}">
<meta property="og:type" content="article">
<meta property="og:image" content="{{ MEDIA_URL }}{{single_thread.main_image}}">
<meta property="og:description" content="{{single_thread.content|striptags|truncatewords:50}}">
<meta property="og:site_name" content="{{single_thread.title}}">
{% endblock %}

{% block content %}

<div id="thread-menu">
	<div id="thread-header">
	<a href="/"><img src="{% static "img/logo.png" %}" alt="logo" id="thread-logo"></a>
	<a href="/"><img src="{% static "img/x-button.png" %}" alt="thread close button" id="thread-close-button"></a>
	</div>
</div>

	<div class="endless_page_template">
	    {% include page_template %}
	</div>

	<div id="csrf-token">{{csrf_token}}</div>
	{% block js %}
		{{ block.super }}
		<script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
		<script>
		$.endlessPaginate({
			paginateOnScroll: true,
			paginateOnScrollMargin: 150
		});
		</script>
		<script src="{% static "js/main.js" %}"></script>
		<script src="{% static "js/jquery.tipsy.min.js" %}"></script>
		<script>
		$(function() {
			if ($(window).width() > 680) {
				$('a.share').tipsy({
					live: true,
					fade: true,
					gravity: 's',
				});
			}
		});
		</script>
	{% endblock %}

{% endblock %}
















