{% load endless %}

{% paginate 2 threads %}
	{% for thread in threads %}
<a href="/threads/{{thread.id}}/{{thread.slug}}/" title="{{thread.title|upper}}" class="thread-anchors"></a>
<div id="thread-details">
	<div id="thread-main-image">
		<img src="{{MEDIA_URL}}{{thread.main_image}}" alt="thread main image">
	</div>

	<div id="thread-info">
		{% if thread.website or thread.soundcloud or thread.bandcamp or thread.facebook %}
		<h1><a href="{% if thread.website %}{{thread.website}}{% elif thread.soundcloud %}{{thread.soundcloud}}{% elif thread.bandcamp %}{{thread.bandcamp}}{% else %}{{thread.facebook}}{% endif %}">{{thread.title|upper}}</a></h1>
		{% else %}
		<h1>{{thread.title|upper}}</h1>
		{% endif %}
		<h3>{{thread.subtitle|title}}</h3>
		<p><a href="/threads/category/{{thread.thread_type.slug}}/">{{thread.thread_type.title|upper}}</a> + {{thread.created|date:"M tS, o"}} + by {{thread.author.get_full_name|title}}</p>
	</div>

	{% if thread.thread_type.slug == 'interview' %}
	<div id="thread-interview-info">
		<p>{{thread.artist_description}}</p>
	</div>
	{% endif %}

	<div id="thread-content">
		{{thread.content|safe}}
	</div>

	<div id="thread-tags">
		{% for tag in thread.tags.all %}
		<a href="/threads/tags/{{tag|lower}}/">{{tag|upper}}</a>
		{% endfor %}
	</div>

	<div id="thread-social">
		<a href="#"
  		onclick="
    	window.open(
      	'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
      	'facebook-share-dialog',
      	'width=626,height=436');
    	return false;" class="socialico share share-facebook" rel="tipsy" title="Share on Facebook">f</a>
		<a href="#" class="socialico share share-twitter" title="Share on Twitter" rel="{{thread.title|title}}" onclick="window.open('https://twitter.com/share?url='+location.href+'&text={{thread.title|title}}')">l</a>
      	<a rel="{{thread.likes}}" class="socialico share thread-like-button" rel="tipsy" title="{{thread.likes}} likes">3</a>
      	<span id="csrf_token" style="display: none;">{{csrf_token}}</span>
	</div>
	<a href="/threads/{{thread.id}}/{{thread.slug}}/" title="{{thread.title|upper}}" class="thread-anchors"></a>
</div>
	{% endfor %}
	<div class="thread-subscribe">
		<form action="">
			{% csrf_token %}
			<h3>Get updates from Sound Tribe LC!</h3>
			<p class="subscribe-success">You have been successfully subscribed.</p>
			<p class="subscribe-error">Please input a valid email address.</p>
			<input type="email" name="subscription-email" placeholder="Email">
			<input type="submit" value="GO" class="subscribe-submit">
		</form>
	</div>
{% show_more %}








