{% load endless %}

{% paginate 12 threads %}

		{% for t in threads %}
		<li>
			{% if forloop.last %}
			<div class="home-thread-item" id="home-thread-item-last">
			{% else %}
			<div class="home-thread-item">
			{% endif %}
				<div class="home-thread-item-image" style="background-image:url('{{MEDIA_URL}}{{t.main_image}}');">
					<a href="/threads/{{t.id}}/{{t.slug}}/"></a>
				</div>
				<div class="home-thread-item-info">
					<p class="home-item-type"><a href="/threads/category/{{t.thread_type.slug}}/">{{t.thread_type|upper}}</a></p>
					<h2><a href="/threads/{{t.id}}/{{t.slug}}/">{{t.title}}</a></h2>
					<h3>{{t.subtitle}}</h3>
					<p class="home-item-date">By {{t.author.get_full_name}} on {{t.created|date:"M t, o"}}</p>
				</div>
			</div>
		</li>
		{% endfor %}


{% show_more %}