{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Sound Tribe LC{% endblock %}

{% block content %}

{% include "nav.html" %}

	{% block js %}
		{{ block.super }}
		<script src="{% static "js/endless-pagination.js" %}"></script>
		<script>
		$.endlessPaginate({
			paginateOnScroll: true,
			paginateOnScrollMargin: 250
		});
		</script>
		<script src="{% static "js/jquery.tipsy.min.js" %}"></script>
		<script>
		$(function() {
			$('a.share').tipsy({
				live: true,
				fade: true,
				gravity: 's',
			});
		});
		</script>
	{% endblock %}

<div id="home-thread-list">
	{% if type == 'tag' %}
	<h5 class="home-thread-heading">TAG: {{title|upper}} <span class="home-thread-heading-more"></h5>
	{% else %}
	<h5 class="home-thread-heading">{{title|upper}} <span class="home-thread-heading-more"></h5>
	{% endif %}
	<ul>
		<div class="endless_page_template">
	    {% include page_template %}
		</div>
	</ul>
</div>

<script src="{% static "js/main.js" %}"></script>

{% include "footer.html" %}

{% endblock %}