<html>
{% load staticfiles %}
<head>
	<script type="text/javascript" src="//use.typekit.net/pug6qie.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
	<title>{% block title %}{% endblock %}</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	{% block styles %}{% endblock %}
</head>
<body>
	<div id="container">
	{% block content %}{% endblock %}
	</div>
	{% block js %}
		<script src="{% static "js/main.js" %}"></script>
	{% endblock %}
</body>
</html>