<footer>
	<br>
	<div id="footer">
		<p id="follow">
			<a href="https://www.facebook.com/official.soundtribelc" class="socialico facebook">f</a>
			<a href="https://twitter.com/SoundTribeLC" class="socialico twitter">l</a>
			<a href="https://www.youtube.com/user/SoundTribeTV" class="socialico youtube">x</a>
			<a href="http://soundtribelc.tumblr.com" class="socialico tumblr">t</a>
		</p>
		<ul>
			<li><a href="/music/about/">About Sound Tribe LC</a></li>
			<li><a href="/music/contact/">Contact</a></li>
			<li>&#169 2013 Sound Tribe Lifestyle and Culture</li>
		</ul>
	</div>
</footer>