{% load staticfiles %}

<header>
	<nav id="header-menu">
		<div id="header-logo">
			<a href="/"><img src="{% static "img/logo.png" %}" alt="soundtribe lc logo"></a>
		</div>
		<div id="header-nav">
			<ul id="menu-social">
				<li><a class="share-facebook" href="{{facebook.url}}">f</a></li><li><a class="share-twitter" href="{{twitter.url}}">l</a></li>
			</ul>
			<ul id="menu-threads">
				<li class="header-menu-submenu-anchor">
					<a href="/threads/category/interview/">INTERVIEW</a>
				</li>
				<li class="header-menu-submenu-anchor">
					<a href="/threads/category/audio/">AUDIO</a>
				</li>
				<li class="header-menu-submenu-anchor">
					<a href="/threads/category/video/">VIDEO</a>
				</li>
				<li class="header-menu-submenu-anchor">
					<a href="/threads/category/talk/">TALK</a>
				</li>
				<li class="header-menu-submenu-anchor">
					<a href="/threads/category/blog/">BLOG</a>
				</li>
			</ul>
		</div>
	</nav>
</header>