{% extends "base.html" %}
{% load staticfiles %}

{% block title %}SOUND TRIBE ADMIN PANEL{% endblock %}

{% block content %}

<div class="admin">
	<div class="admin-header">
		<a href="/admin/"><img src="{% static "img/logo.png" %}" alt="soundtribe lc logo"></a>
		<h1>ADMIN PANEL</h1>
	</div>
	<h2>Creating and Editing Threads</h2>
	<ul>
		<!-- <li><a href="/threads/create/interview/">Create interview</a></li> -->
		<li><a href="/threads/create/thread/">Create thread</a></li>
		<li><a href="/threads/list/thread">Edit threads</a></li>
		<!-- <li><a href="/threads/create/types/">Create thread type</a></li> -->
	</ul>
	<ul>
		<!-- <li><a href="/threads/list/types/">Edit thread type</a></li> -->
	</ul>
	<h2>Frontpage Right Panel Management</h2>
	<ul>
		<li><a href="/misc/create/talkbox/">Add new Talkbox</a></li>
		<li><a href="/misc/create/listen/">Add new L!STEN</a></li>
		<li><a href="/misc/create/mplaylist/">Add new Monthly Playlist</a></li>
	</ul>
<!-- 	<h2>Account Management</h2>
	<ul>
		<li><a href="">Change password</a></li>
	</ul> -->
<!--	<ul>
		<li><a href="/misc/update/about/1">Edit About</a></li>
		<li><a href="/misc/update/contact/1">Edit Contact</a></li>
		<li><a href="/misc/update/facebook/1">Edit Facebook</a></li>
		<li><a href="/misc/update/twitter/1">Edit Twitter links</a></li>
		<li><a href="/misc/update/tumblr/1">Edit Tumblr links</a></li>
	</ul>-->
</div>

{% endblock %}