{% extends "base.html" %}
{% load staticfiles %}

{% block title %}SOUND TRIBE ADMIN PANEL{% endblock %}

{% block content %}

<div class="admin">
	<div class="admin-header">
		<a href="/admin/"><img src="{% static "img/logo.png" %}" alt="soundtribe lc logo"></a>
		<h1>ADMIN PANEL</h1>
	</div>
	<h2>Creating and Editing Threads</h2>
	<ul>
		<li><a href="/threads/create/thread/">Create thread</a></li>
		<li><a href="/threads/list/thread">Edit/Remove threads</a></li>
	</ul>
	<h2>Frontpage Right Panel Management</h2>
	<ul>
		<li><a href="/misc/create/talkbox/">Add new Talkbox</a></li>
		<li><a href="/misc/create/listen/">Add new L!STEN</a></li>
		<li><a href="/misc/create/mplaylist/">Add new Monthly Playlist</a></li>
	</ul>
	<h2>Music Page Management</h2>
	<ul>
		<li><a href="/music/notice/create/">Create Notice</a></li>
		<li><a href="/music/notice/update/">Edit Notice</a></li>
		<li><a href="/music/artist/create/">Create Artist</a></li>
		<li><a href="/music/artist/update">Edit Artist</a></li>
	</ul>
	<!--<h2>Account Management</h2>
	<ul>
		<li><a href="">Create new account</a></li>
		<li><a href="">Change account information</a></li>
		<li><a href="">Change password</a></li>
	</ul>-->
</div>

{% endblock %}