{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Thread Form {% if object %}- {{object.title}}{% endif %}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "redactor/css/redactor.css" %}">
{% endblock %}

{% block outer-content %}
	{% include "details_nav.html" %}
{% endblock %}

{% block content %}

<div id="admin-thread-form">

<form enctype="multipart/form-data" method="POST">
	{% csrf_token %}
	<div class="form-errors">
		{{form.errors}}
	</div>

<div class="admin-thread-main-image">
	<p>Main Image: {{form.main_image}}</p>
	{% if thread.main_image %}
	<img id="thread-main-image-upload" src="{{MEDIA_URL}}{{thread.main_image}}" alt="thread main image">
	{% else %}
	<img id="thread-main-image-upload" src="">
	{% endif %}
</div>
<div class="thread-details">
	<div class="thread-info">

		{# title #}
		<h1 id="thread-details-form-title">{{form.title}}</h1>

		{# subtitle #}
		<h3 id="thread-details-form-subtitle">{{form.subtitle}}</h3>

		{# author/date/time #}
		<p>{{form.thread_type}}</a> + {{form.created}} + by {{request.user.get_full_name|title}}</p>

		{# hidden fields #}
		<div class="hidden">
			{{form.likes}}
			{{form.views}}
			{{form.author}}
		</div>

		{# interview artist info #}
		<p style="text-align: center; font-weight: 400;">
			<a href="#" class="fold-unfold-anchor" style="text-decoration: underline; margin-top: 30px; margin-bottom: 30px;">IF INTERVIEW</a>
		</p>

			<div class="thread-artist-info admin-thread-artist-info fold-unfold hidden">

				<p>{{form.artist_name}} + {{form.artist_genre}} + {{form.artist_occupation}}</p>
				<p id="admin-thread-artist-sns">
					{{form.website}} + {{form.twitter}} + {{form.facebook}} +
					{{form.soundcloud}} + {{form.bandcamp}} + {{form.youtube}}
				</p>
				<p id="admin-thread-artist-description">{{form.artist_description}}</p>
			</div>

		{# content #}
		<p id="admin-form-content">{{form.content}}</p>

		{# tags #}
		<p id="admin-form-tags">{{form.tags}}</p>

		{# misc #}
		<div id="admin-thread-form-misc">
			<table>
				<tr><td class="form-label">Use as slideshow?</td><td>{{form.slideshow}}</td></tr>
				<tr><td class="form-label">Published: </td><td>{{form.published}}</td></tr>
			</table>
		</div>
	</div>

	<div class="thread-artist-info">
		<p><a id="admin-thread-artist-info" style="text-decoration: underline;">Find out more about {{form.artist_name}} here: {{form.website}}</a></p>
	</div>

	<p><input type="submit" value="SUBMIT"></p>

</form>

	<script src="{% static "js/main.js" %}"></script>
</div>

{% endblock %}

{% block js %}
{{block.super}}
<script src="{% static "redactor/jquery.min.js" %}"></script>
<script src="{% static "redactor/jquery-migrate.min.js" %}"></script>
<script src="{% static "redactor/langs/en.js" %}"></script>
<script src="{% static "redactor/redactor.js" %}"></script>
<script src="{% static "redactor/toolbars/mini.js" %}"></script>
{% endblock %}