{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Create Thread{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "redactor/css/redactor.css" %}">
{% endblock %}

{% block content %}
<div class="admin">
	<div class="admin-header">
		<a href="/admin/"><img src="{% static "img/logo.png" %}" alt="soundtribe lc logo"></a>
		<h1>CREATE THREAD</h1>
	</div>
	<form enctype="multipart/form-data" method="POST">
		{% csrf_token %}
		<div class="form-errors">
			{{form.errors}}
		</div>
		<table>
			<tr><td class="form-label">Use as slideshow?</td><td>{{form.slideshow}}</td></tr>
			{# <tr><td class="form-label">Slideshow image (only if you've selected to use as slideshow)</td><td>{{form.slideshow_image}}</td></tr> #}
			<tr><td class="form-label">Thread Type:</td><td>{{form.thread_type}}</td></tr>
			<tr><td class="form-label">Author:</td> <td>{{form.author}}</td></tr>
			<tr><td class="form-label">Main Image:</td> <td>{{form.main_image}}</td></tr>
			<tr><td class="form-label">Title:</td> <td>{{form.title}}</td></tr>
			<tr><td class="form-label">Subtitle:</td> <td>{{form.subtitle}}</td></tr>
		</table>
		<p class="form-label">Content</p>
		{{form.content}}
		<table>
		<tr><td class="form-label">Tags <span>separate with commas</span>: </td><td>{{form.tags}}</td></tr>
		<tr><td class="form-label">Published: </td><td>{{form.published}}</td></tr>
		</table>
		<div style="display: none">
			{{form.likes}}
			{{form.views}}
		</div>

		<a href="#" class="fold-unfold-anchor" style="margin-top: 30px; margin-bottom: 30px; display: block;">If thread type is interview</a>
		<div class="fold-unfold">
			<h3>If this is an interview thread, please input the following information before submission.</h3>
			<p class="form-label">artist name</p>
			{{form.artist_name}}
			<p class="form-label">artist occupation</p>
			{{form.artist_occupation}}
			<p class="form-label">artist description</p>
			{{form.artist_description}}
			<p class="form-label">artist genre</p>
			{{form.artist_genre}}
		</div>

		<p><input type="submit" value="SUBMIT"></p>
	</form>

	<script src="{% static "js/main.js" %}"></script>

</div>

{% endblock %}

{% block js %}
{{block.super}}
<script src="{% static "redactor/jquery.min.js" %}"></script>
<script src="{% static "redactor/jquery-migrate.min.js" %}"></script>
<script src="{% static "redactor/langs/en.js" %}"></script>
<script src="{% static "redactor/redactor.js" %}"></script>
<script src="{% static "redactor/toolbars/mini.js" %}"></script>
{% endblock %}