{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" href="{% static "redactor/css/redactor.css" %}">
{% endblock %}

{% block content %}
<div class="admin">
	<div class="admin-header">
		<a href="/admin/"><img src="{% static "img/logo.png" %}" alt="soundtribe lc logo"></a>
	</div>
	<form enctype="multipart/form-data" method="POST">
		<div class="form-errors">
			{{form.errors}}
		</div>
		{% csrf_token %}
		{{form.errors}}
		<p><a href="/threads/list/thread/">Go back to thread list</a></p>
		<h2>Delete {{object.title}}?</h2>
		{{form.as_p}}
		<p><input type="submit" value="Delete"></p>
	</form>
</div>

{% endblock %}
